# Auto detect text files and perform LF normalization
* text=auto

# Ignorar todo lo que no sea Dart
*.cc linguist-vendored
*.cpp linguist-vendored
*.cxx linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
